@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Section styles */
#overview {
    display: block;
    border: 3px solid maroon;
    border-radius: 10px;

    padding-top: 2mm;
    padding-bottom: 2mm;
    padding-left: 1cm;
    padding-right: 1cm;

    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;

    background-color: #DDDDDD;
}

#agenda {
    border: 3px dashed rgb(164, 194, 244);
    border-radius: 10px;

    padding: 2vh 2em 2vh 2em;
    margin: 1vw 0.5vw 1vw 0.5vw;

    background-color: hsl(104, 35%, 87%);
}

[invisible="true"] {
    display: none;
}

p {
    color: rgb(70, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Roboto, sans-serif;
    text-decoration: underline;
    text-align: center;
}

/* Media grid formatting */
@media (min-width: 800px) {
    .media-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        column-gap: 10px
    }
}

.column1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.column2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.column3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

span audio {
    min-width: 300px;
    max-width: 400px;
    position: relative;
    top: 25%;
    left: 20px;
}

span > h3 {
    font-family: sans-serif;
}

video,img {
    height: 300px;
    width: 300px;
    position: static;
}

label~input:hover {
    background-color:blue;
}

br+textarea:active {
    background-color: purple;
}